// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  /* 
    img要素はインライン要素になるため直接指定してもセンタリング出来ないので注意してください。
  */
  .img{
    text-align: center;
    inset:0;
  }
  /* 
    table要素
  */
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  th,td {
    border: 1px solid #ccc;
  }
  .cell-center {
    text-align: center;
  }
  
  a{
    text-align: center;  
  }